table, th, td {
    margin: auto;
    border: 3px white solid;
    border-collapse: collapse;
    padding: 15px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
th, td {
    background-color: lightblue;
}

